* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: hsl(170, 100%, 26%);
    --secundary-color: #FFFFFF;
    --headline: hsl(210, 11%, 15%);
    --paragraph: hsl(210, 9%, 31%);
    --background: #DCE9E2;
    font-size: 62.5%;
    /* 1 rem é igual a 10px*/
}

body {
    font-family: 'DM Sans';
    font-size: 1.6rem;
    text-align: center;
}

header {
    width: 37.5rem;
    margin-right: auto;
    margin-left: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 4.1rem;
    background-color: var(--background);
}

h4 {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
    margin-bottom: 1.6rem;
}

h1 {
    color: var(--headline);
    line-height: 130%;
    font-size: 3.4rem;
    margin-bottom: 2.4rem;
}

p {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--paragraph);
    margin-bottom: 3.2rem;
}

button {
    background-color: var(--primary-color);
    color: var(--secundary-color);
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 4rem;
    margin-bottom: 6rem;
    height: 6.2rem;
    width: 26.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    margin-right: auto;
    margin-left: auto;
}